@import './form.css';

.form--login {
	margin-top: 7rem;
}

.form.form--login input,
.form.form--login label {
	font-size: 1.2rem;
}

.form.form--login label {
	color: #111;
}

.form.form--login fieldset {
	border: none;
	display: flex;
	flex-direction: column;
}

.form.form--login input {
	margin: 0.4rem 0;
	padding: 0.5rem 0.3rem;
}

.form.form--login button {
	width: max-content;
	margin: auto;
	font-size: 1.3rem;
	padding: 0.7rem 1rem;
}